/* Login.module.css */
.container {
  height: 100vh;
  padding-top: 1rem;
  background-image: url('/mascota-login.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	z-index: 1;
	min-height: 50vh;
	@media (max-width: 768px) {
		min-height: 100vh;
		background-size: cover;
		background-position: center;
	}
}
.container::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Ajusta el nivel de opacidad aquí */
	z-index: -1;
}

.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
    color: var(--color-secundario); 
}

.titleSm {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.form {
  max-width: 24rem;
  margin: 0 auto;
}

.inputGroup {
  margin-bottom: 1.5rem;
}

.label {
  display: block;
  margin-bottom: 0.5rem;

  font-weight: normal;
  color: var(--color-secundario); 
    font-size: 1.5rem;
}

.input {
  background-color: var(--color-secundario); 
  border: 2px solid var(--color-primario); 
  color: var(--color-primario); 
  font-size: 0.875rem;
  border-radius: 1rem;
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  color: var(--color-secundario);
  background-color: var(--color-primario);
	padding: 1rem 2rem;
	border-radius: 2rem;
    font-size: 1rem;
}
